/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global
{
	font-size: 13;
	/*color: #06065B;*/
	color: #4c2600;
	vertical-align: middle;
	text-align: center;
}
	